<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/heading.css">
    <link rel="stylesheet" href="/static/addcourse.css">
    <title>Add course</title>
</head>
<body>
    <nav class="header">
        <h3 class="title_site">SDZS</h3>
        <a href="{{ url_for('main.home') }}" class="home">Home</a>
        <a href="#" class="subjects">Subjects</a>
        <a href="{{ url_for('main.teachers') }}" class="teachers">Teachers</a>
        <a href="{{ url_for('main.students') }}" class="students">Students</a> 
        <a href="{{ url_for('main.login') }}">Login</a> 
    </nav> 
    <nav class="sign_in_block">
        <form method="POST" action="{{url_for('subjects.create_subject')}}">
            {{ form.csrf_token }}
            <h3 class="text-center">Create course</h3>
            <div class="form-group">
                {{ form.title(placeholder="Title", class="form-control item") }}
                {% if form.title.errors %}
                    <ul class="errors">
                    {% for error in form.title.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.description(placeholder="Description", class="form-control item") }}
                {% if form.description.errors %}
                    <ul class="errors">
                    {% for error in form.description.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.start_time(placeholder="Start time", class="form-control item") }}
                {% if form.start_time.errors %}
                    <ul class="errors">
                    {% for error in form.start_time.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.day_of_week(placeholder="Day of week", class="form-control item") }}
                {% if form.day_of_week.errors %}
                    <ul class="errors">
                    {% for error in form.day_of_week.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.repeat_weekly(placeholder="Repeat weekly", class="form-control item") }}
                {% if form.repeat_weekly.errors %}
                    <ul class="errors">
                    {% for error in form.repeat_weekly.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="form-group">
                <label>
                    <input type="checkbox" name="terms" required> I confirm the creation of the course and agree to all terms and conditions.
                </label>
            </div>
            <div class="form-group">
                <button class="sign_in_accounnt" type="submit">Create course</button>
            </div>
        </form>
    </nav>
</body>
</html>