<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/signup.css">
    <title>Sign in</title>
</head>
<body>
    <div class="sign_in_block">
        <form action="{{ url_for('users.sign_up') }}" method="post">
            {{ form.csrf_token }}
            <h3 class="text-center">Sign up</h3>
            <div class="form-group">
                {{ form.name(placeholder="Name", class="form-control item") }}
                {% if form.name.errors %}
                    <ul class="errors">
                    {% for error in form.name.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                <!-- <input class="form-control item" type="text" name="username" minlength="4" maxlength="15" pattern="^[a-zA-Z0-9_.-]*$" id="username" placeholder="Login" required> -->
            </div>
            <div class="form-group">
                {{ form.surname(placeholder="Surname", class="form-control item") }}
                {% if form.surname.errors %}
                    <ul class="errors">
                    {% for error in form.surname.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                <!-- <input class="form-control item" type="password" name="password" minlength="6" id="password" placeholder="Password" required> -->
            </div>
            <div class="form-group">
                {{ form.email(placeholder="Email", class="form-control item") }}
                {% if form.email.errors %}
                    <ul class="errors">
                    {% for error in form.email.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                <!-- <input class="form-control item" type="email" name="email" id="email" placeholder="Email" required> -->
            </div>
            <div class="form-group">
                {{ form.password(placeholder="Password", class="form-control item") }}
                {% if form.password.errors %}
                    <ul class="errors">
                    {% for error in form.password.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                <!-- <input class="form-control item" type="email" name="email" id="email" placeholder="Email" required> -->
            </div>
            <div class="form-group">
                <p class="create_acount">You already have an account, <a href="{{ url_for('main.login') }}">log into it </a></p>
            </div>    
            <div class="form-group">
                <button class="sign_in_accounnt" type="submit">Sign up</button>
            </div>
        </form>
    </div>
</body>
</html>
