@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body {

    background-color:#E2F4C5;
    font-family: 'Titillium Web', sans-serif;
}

.text-center {
    text-align: center;
}

.sign_in_block {
    display:flex;
    align-items:center;
    justify-content:center;


    margin-top: 50px;
    margin-left: 32%;
    padding:50px 70px;
    border-radius:10px;
    width: 280px;
    font-weight:bold;
    box-shadow:4px 4px 15px rgba(0, 0, 0, 0.2);
    background-color:#fff;
    text-align: center;
}

.sign_in_block .item {
    border-radius:10px;
    margin-bottom:25px;
    padding:10px 20px;
}

.sign_in_block .create_acount a {
    color: #496989;
    text-decoration: none;
}

.sign_in_block .sign_in_accounnt {
    border-radius:30px;
    padding:10px 20px;
    font-size:18px;
    font-weight:bold;
    background-color:#A8CD9F;
    border:none;
    color:white;
    margin-top:10px;
    
}

@media (max-width: 576px) {
    .sign_in_block form {
        padding:50px 20px;
    }
}
