@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Roboto+Slab:wght@100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
  background: linear-gradient(to left, #E2F4C5, #c5ddf4);
}

.text-center {
    text-align: center;
}

.sign_in_block {
    display:flex;
    align-items:center;
    justify-content:center;


    margin-top: 50px;
    margin-left: 32%;
    padding:50px 70px;
    border-radius:10px;
    width: 280px;
    font-weight:bold;
    box-shadow:4px 4px 15px rgba(0, 0, 0, 0.2);
    background-color:#fff;
    text-align: center;
}

.sign_in_block .item {
    border-radius:10px;
    margin-bottom:25px;
    padding:10px 20px;
}

.sign_in_block .create_acount a {
    color: #496989;
    text-decoration: none;
}

.sign_in_block .sign_in_accounnt {
    border-radius:30px;
    padding:10px 20px;
    font-size:18px;
    font-weight:bold;
    background-color:#A8CD9F;
    border:none;
    color:white;
    margin-top:10px;
    
}

@media (max-width: 576px) {
    .sign_in_block form {
        padding:50px 20px;
    }
}
