body{
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    height: 95px;
    background-color: #ECEAF4;
    box-shadow: 5px 5px 15px black;
}

.title_site {
    margin-left: 40px;
    margin-right: 950px; 
    font-family: "Pixelify Sans", sans-serif;
}

.header a {
    color: #496989;
    text-decoration: none;
    margin-right: 50px;
    border-bottom: 1px solid transparent; 
    transition: border-bottom 2s ease; 
    font-size: large;
    font-weight: bold;
    

}
.login{
    font-family: "Pixelify Sans", sans-serif;
}
.header a:hover{
    color: #2f4254; 
    font-size: x-large;
    font-weight: bolder;
}