@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
    background-color: #E2F4C5;
}

.main{
    padding-left: 50px;
    font-size: larger;
    font-weight: bolder;
}
.main .email{
    color: rgb(100, 100, 148);
}
.pearson_img{
    margin-top: 20px;
    margin-left: 12px;
    width: 150px;
    height: 150px;
}
.personal_information{
    margin-left: 15px;
}
.personal_information .name{
    font-weight: bold;
    font-size: xx-large;
}
.rectangle_lesson {
    border-radius: 10px;
    height: 90px; 
    width: 336px;
    background-color: #58A399; 
}

.rectangle_lesson1 {
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 15px;
    height: 185px;
    width: 336px;
    background-color: #F1F1F1;
    box-shadow:4px 4px 15px rgba(0, 0, 0, 0.2);
}
.lesson_name_block{
    padding-left: 8px;
    font-weight: bolder;
    font-size: larger;
}
.lesson_name_teacher{
    padding-left: 8px;
    font-weight: 500;
    font-size: larger;
}

.subjects{
    padding-left: 100px;
    
    display: flex;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 15px;
    
}

.subject-title{
    font-size: 30px;
    font-family: 'griffy', cursive;
    color: darkblue;
}

.subject-teacher{
    padding-left: 50px;
    font-size: 20px;
    font-family: 'Times New Roman', cursive;
    color: rgb(0, 86, 139);
}

.subject-main{
    
    background-color: #88cd390a;
    padding-left: 10px;
    font-size: 20px;
}
