@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
    background-color: #E2F4C5;
}

.main{
    display: flex; 
    align-items: center;
}
.pearson_img{
    margin-top: 20px;
    margin-left: 12px;
    width: 150px;
    height: 150px;
}
.personal_information{
    margin-left: 50px;
}
.personal_information .name{
    font-weight: bold;
    font-size: xx-large;
}