@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
    background-color: #E2F4C5;
}
.student{
    padding-left: 25px;
    font-size: larger;
    font-weight: bolder;
    display: flex;
}
.student .add_button{
    text-decoration: none;
    font-weight: 900;
    margin-top: 20px;
    margin-left: 550px;
    color: rgb(100, 100, 148);
}
.student .email{
    margin-left: 50px;
    color: rgb(100, 100, 148);
}
.add_button{
    padding-left: 400px;
}
.student{
    margin-top: 50px;
    width: 100%;
    height: 80px;
    background-color: aliceblue;
    box-shadow:0px 8px 15px rgb(0, 0, 0);
}
.pearson_img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
}
.add_img{
    margin-left: 1300px;
    width: 70px;
    height: 70px;
    border-radius: 50px;
}