<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/homepage.css"">
    <title>Home Page</title>
</head>
<body>
    <div class="header">
        <h3 class="title_site">SDZS</h3>
        <a href="homepage.html" class="home">Home</a>
        <a href="subjects.html" class="subjects">Subjects</a>
        <a href="teachers.html" class="teachers">Teachers</a>
        <a href="students.html" class="students">Students</a> 
        <a href="{{ url_for('main.login') }}">Login</a> 
    </div>   
    <nav class="main">
        <img src="https://cdn.pixabay.com/photo/2016/11/14/17/39/person-1824147_1280.png" alt="" class="pearson_img" <p>            Taras Sevchenko</p>
        
    </nav>

</body>
</html>