<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/heading.css">
    <link rel="stylesheet" href="/static/homepage.css">

    <title>Home Page</title>
</head>
<body>
    <nav class="header">
        <h3 class="title_site">SDZS</h3>
        <a href="{{ url_for('main.home') }}" class="home">Home</a>
        <a href="#" class="subjects-naw">Subjects</a>
        <a href="teachers.html" class="teachers">Teachers</a>
        <a href="{{ url_for('main.students') }}" class="students">Students</a> 
        <a href="{{ url_for('main.login') }}">Login</a> 
    </nav>   
    <div class="main">
        <img src="https://cdn.pixabay.com/photo/2016/11/14/17/39/person-1824147_1280.png" alt="" class="pearson_img" ><p>            Taras Sevchenko</p>
    
</div>

<div class="subjects">
    <div class="subject">
        <div class="subject-title">
            <img src="" alt="">
            <p>Title</p>
        </div>
        <div class="subject-teacher">
            <p>Teachers</p>
        </div>
        <div class="subject-main">
            <p>Main information</p>
            <p>Classes</p>
        </div>
    </div>
</div>

</body>
</html>