{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="/static/lessonpage.css">
    <title>Lesson page</title>
{% endblock %}


{% block content %}


    <div class="container">
        <p class="name_lesson">Lorem ipsum dolor sit.</p>
        <p class="teacher_name">Lua Fox</p>
        <p class="date_end">3 June</p>
        <nav class="line"></nav>
        <p class="text_lesson">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis non vero explicabo exercitationem quia ratione?</p>
    </div>
{% endblock %}