<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/heading.css">
    <link rel="stylesheet" href="/static/students.css">
    <title>Students</title>
</head>
<body>
    <nav class="header">
        <h3 class="title_site">SDZS</h3>
        <a href="{{ url_for('main.home') }}" class="home">Home</a>
        <a href="#" class="subjects">Subjects</a>
        <a href="teachers.html" class="teachers">Teachers</a>
        <a href="{{ url_for('main.students') }}" class="students">Students</a> 
        <a href="{{ url_for('main.login') }}">Login</a> 
    </nav> 
    <div class="student">
        <img src="https://w7.pngwing.com/pngs/100/522/png-transparent-computer-icons-plus-and-minus-signs-symbol-plus-miscellaneous-cross-sign-thumbnail.png alt="" class="pearson_img">
        <img src="https://banner2.cleanpng.com/20180601/bsq/kisspng-computer-icons-plus-and-minus-signs-clip-art-plus-symbol-5b113eb0b38620.2093933315278568167353.jpg" class="add_img">
    </div>
</body>
</html>